//@import '/node_modules/normalize.css/normalize.css';
@import 'modules/variables';

:host {
  --primary: blue;
  display: block;
  background-color: var(--primary, white);

  h1 {
    color: #333333;
  }
}
