@import 'modules/variables';

@mixin button {
  background: var(--tip-btn-background);
  color: var(--tip-btn-color);
  border-radius: var(--tip-btn-border-radius);
  border: var(--tip-btn-border-size) var(--tip-btn-border-weight) var(--tip-btn-border-color);
}


:host {
  --base-padding: 1rem;
  --base-text-color: #605050;
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

  --base-btn-border-radius: 3px;
  --base-btn-padding-y: calc(var(--base-padding) / 2);
  --base-btn-padding-x: var(--base-padding);
  --base-btn-font-size: 0.8rem;
  --base-btn-cursor: pointer;

  --tip-btn-background: blue;
  --tip-btn-color: white;
  --tip-btn-border-size: 1px;
  --tip-btn-border-weight: solid;
  --tip-btn-border-radius: var(--base-btn-border-radius);
  --tip-btn-border-color: var(--tip-btn-background);

  --wallet-btn-background: white;
  --wallet-btn-color: var(--base-text-color);
  --wallet-btn-border-size: 1px;
  --wallet-btn-border-weight: solid;
  --wallet-btn-border-radius: var(--base-btn-border-radius);
  --wallet-btn-border-color: var(--base-text-color);

  display: block;
  font-family: var(--font-family);
  color: var(--base-text-color);
  padding: calc(var(--base-padding) / 2);
  box-sizing: border-box;

  [hidden] {
    display: none !important;
  }

  button {
    font-family: var(--font-family);
    font-size: var(--base-btn-font-size);
    padding: var(--base-btn-padding-y) var(--base-btn-padding-x);

    &:not([disabled]) {
      cursor: var(--base-btn-cursor);
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  ::slotted(p), p {
    margin: calc(var(--base-padding) / 2) 0;
  }

  .container {
    display: flex;
    align-items: center;
    gap: var(--base-padding);

    &-tools {
      margin-inline-start: auto;

      button {
        @include button;
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;

      .container-info {
        ::slotted(*) {
          text-align: center;
        }
      }

      &-tools {
        margin-inline-start: unset;
      }
    }
  }

  .wallet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--base-padding);

    @media (max-width: 480px) {
      flex-direction: column;
    }

    button {
      background: var(--wallet-btn-background);
      color: var(--wallet-btn-color);
      border-radius: var(--wallet-btn-border-radius);
      border: var(--wallet-btn-border-size) var(--wallet-btn-border-weight) var(--wallet-btn-border-color);
      min-width: 100px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--base-padding) / 2);

    .group {
      display: flex;
      gap: var(--base-padding);

      input {
        padding: var(--base-btn-padding-y) var(--base-btn-padding-x);
        border-radius: var(--tip-btn-border-radius);
        border: var(--tip-btn-border-size) var(--tip-btn-border-weight) var(--tip-btn-border-color);

        &:invalid {
          border-color: brown;
        }
      }

      button {
        @include button;
      }
    }
  }
}
